/* 全体の背景色の設定 */
body {
  background-color: rgb(0, 0, 0);
}

/* ヘッダーのスタイル設定 */
.header {
  height: 10%;
  background-color: rgb(0, 0, 0);
}

/* フッターのスタイル設定 */
.footer {
  height: 10%;
  background: rgb(185, 185, 185);
  color: #fff;
  clear: both;
}

/* メインコンテンツとナビゲーションバーの高さを設定 */
.main-contents,
.left-navi,
.right-navi {
  height: 100%;
}

/* メインコンテンツのスタイル設定 */
.main-contents {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  float: left;
  width: 80%;
}

/* 左ナビゲーションバーのスタイル設定 */
.left-navi {
  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 10%;
  float: right;
}

/* 右ナビゲーションバーのスタイル設定 */
.right-navi {
  background-color: rgb(0, 0, 0);
  color: #fff;
  float: right;
  width: 10%;
}

/* メインコンテンツの幅を設定 */
.main {
  width: 90%;
  float: right;
}

/* 見出しの色を設定 */
h1,
h2 {
  color: #2464a0;
}

/* 汎用ボタンのスタイル */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2464a0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* テーブルデータの色と幅を設定 */
td {
  color: #ffffff;
  width: 150px;
}

/* テーブルのスタイルを設定 */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ffffff;
}

/* テーブルヘッダーとデータのテキストとパディングを設定 */
th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ffffff;
}

/* テーブルヘッダーの背景色とテキスト色を設定 */
th {
  background-color: #40678f;
  color: #000000;
}

/* 交互行の背景色を設定 */
tr:nth-child(even) {
  background-color: #000000;
}

/* フィルターコンテナのマージンを設定 */
.filter-container {
  margin-bottom: 5px;
}

/* フィルターラベルのマージンを設定 */
.filter-container label {
  margin-right: 5px;
}

/* ダメージバーのスタイルを設定 */
.damage-bar {
  display: flex;
  height: 20px;
  background-color: black;
  margin: 5px 0;
}

/* 各種ダメージバーのスタイルを設定 */
.ad-bar,
.ap-bar,
.true-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffffff;
}

/* ADダメージバーの背景色を設定 */
.ad-bar {
  background-color: red;
}

/* APダメージバーの背景色を設定 */
.ap-bar {
  background-color: blue;
}

/* Trueダメージバーの背景色を設定 */
.true-bar {
  background-color: rgb(255, 255, 255);
}

/* ソートボタンのスタイルを設定 */
.sort-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  padding: 0;
}

/* チームボタンのスタイルを設定 */
.teambutton{
  background-color: #40678f;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

/* 画像のサイズを設定 */
img {
  width: 35px;
  height: 35px;
}

/* チャートのスタイルを設定 */
.chart {
  display: flex;
  height: 20px;
}

/* チャートバーのスタイルを設定 */
.bar {
  height: 100%;
}

/* チャンピオン名ボタンのスタイル */
.champion-name-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  color: white; /* テキストの色 */
}

/* チャンピオン名ボタンホバー時のスタイル */
.champion-name-button:hover {
  background-color: #40678f; /* ホバー時の背景色 */
}

/* チャンピオン画像のスタイル */
.champion-name-button img {
  margin-right: 10px;
}

button { /*フィルターのボタン*/
  background-color: #40678f; /* ボタンの背景色 */
  color: white; /* テキストの色 */
  padding: 5px 10px; /* 上下左右のパディング */
  text-align: center; /* テキストの位置 */
  text-decoration: none; /* テキストの装飾をなくす */
  display: inline-block; /* 表示タイプ */
  font-size: 16px; /* フォントサイズ */
  margin: 1px 1px; /* 外側の余白 */
  cursor: pointer; /* カーソルのスタイル */
  border: none; /* ボーダーをなくす */
  border-radius: 4px; /* 角を丸くする */
}
